footer.mt-auto.py-3.bg-light
  .container.d-flex.justify-content-between
    span © 2024 Suite 1B, Inc. All Rights Reserved
    ul.mb-0
      li.list-inline-item
        a(href='https://github.com/Krevace/GlassCeiling') GitHub Repo
      li.list-inline-item
        a(href='https://github.com/Krevace/GlassCeiling/issues') Issues