extends layout

block content
  h1 #{title}
  ul
    for positionData in salaries
        li= positionData.position
            ul 
                for salaryData in positionData.averages 
                    li= salaryData.gender + ": $" + salaryData.averageSalary 
            


