extends layout

block head
  script(src='https://www.google.com/recaptcha/api.js' async='' defer='')

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 About Us

  form(method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label(class='col-md-7 col-form-label font-weight-bold', for='message') At Glass Ceiling, we envisioned an idea that could shed light on the unfair wage gap between genders in the workplace. We believe that being a platform to drive this issue forward can be a positive start to encourage people to be the change to eliminate the pay gap!
