extends layout

block content
  h1 Glass Ceiling
  hr 
  h1 Search
  form(method="POST")
    input(type='hidden', name='_csrf', value=_csrf)
    input(type="text" name="search" placeholder="Search for a company...")
    input.btn.btn-primary(type="submit" value="Submit")
  
