extends layout

block content
  #centerDiv
    div
      img.d-inline-block.align-text-top(src='/GlassCeilingLogo.png' alt='' width='544' height='200')
      form(method="POST")
        input(type='hidden', name='_csrf', value=_csrf)
        input.form-control(type="text" name="search" placeholder="Search for a company...")
  
